@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to bottom,
      #868d93,
      #f1f2f3
    )
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-background {
    background-image: url('/fondo_login.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
